@model HarrisContactManager.Models.BusinessContacts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusinessContacts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessEmial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessEmial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAddress1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessAddress1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessPostCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessPostCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BusinessContactsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
