@model HarrisContactManager.Models.PersonalContacts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonalContacts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalEmial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalEmial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersoanlAddress1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersoanlAddress1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersoanlAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersoanlAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersoanlPostCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersoanlPostCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonalContactsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
